@model List<string>

@{
    ViewData["Title"] = "Mediatr Demo";
}
<h2>@ViewData["Title"].</h2>

<p>This demonstrates the use of the <a href="https://github.com/jbogard/MediatR">Mediatr</a> library.</p>

<p><span style="text-decoration: underline">Events</span>   (<a asp-controller="Home" asp-action="Index">Refresh</a>)</p>
@foreach ( var item in Model )
{
    <div>
        @item
        <hr />
    </div>
}

<p>
    <a asp-controller="Home" asp-action="PublishEvent">Publish Event</a>
    |
    <a asp-controller="Home" asp-action="SendEvent">Send Event</a>
    |
    <a asp-controller="Home" asp-action="PublishAsyncEvent">Publish Async Event</a>
    |
    <a asp-controller="Home" asp-action="SendAsyncEvent">Send Async Event</a>
</p>
