@model List<string>

@{
    ViewData["Title"] = "Mediatr Demo";
}
<h2>@ViewData["Title"].</h2>

<p>This demonstrates the use of the <a href="https://github.com/jbogard/MediatR">Mediatr</a> library.</p>

<p style="text-decoration: underline">Events</p>
@foreach ( var item in Model )
{
    <div>
        @item
        <hr />
    </div>
}

<p>
    <a asp-controller="Home" asp-action="Publish">Publish Event</a>
    |
    <a asp-controller="Home" asp-action="Send">Send Event</a>
</p>
